{%load static%}
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static "./documents.css" %}">
  <title>Документы</title>
</head>

<body class="root">
  <div class="page">

    <header class="header">
      <button type="button" class="burger">
        <div class="burger__bar"></div>
      </button>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a class="header__nav-link" href="/">Главная</a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="/news">Новости</a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="/documents">Документы</a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="/contacts">Контакты</a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="/forum">Форум</a>
          </li>
        </ul>
      </nav>
      <div class="header__interactions">
        <a class="header__tel-link" href="tel:+79999999999">+7 (999) 999-99-99</a>
        <a class="header__profile-link" href="#">Войти в личный кабинет</a>
      </div>
    </header>

    <main class="main">

      <section class="main__hero hero">
        <div class="hero__text">
          <h1 class="hero__title hero__title--pages">Документы</h1>
        </div>
      </section>

      <section class="main__documents documents">
        <ul class="documents__filter">
          <li class="documents__filter-item">
            <button class="documents__filter-btn" type="button" data-category="all">Все документы</button>
          </li>
          <li class="documents__filter-item">
            <button class="documents__filter-btn" type="button" data-category="ustavnye">Уставные документы</button>
          </li>
          <li class="documents__filter-item">
            <button class="documents__filter-btn" type="button" data-category="protokoly">Протоколы собраний</button>
          </li>
          <li class="documents__filter-item">
            <button class="documents__filter-btn" type="button" data-category="zayavleniya">Заявления и бланки</button>
          </li>
        </ul>
        <ul class="documents__list">
          {% for doc in docs %}
          <li class="documents__list-item">
            <h3 class="documents__list-item-title">{{ doc.title }}</h3>
            <p class="documents__list-item-text">Утверждено решением общего собрания</p>
            <div class="documents__list-item-row">
              <a class="documents__list-item-btn" href="{% url 'download' pk=doc.id %}" >Скачать</a>
              <p class="documents__list-item-date">{{ doc.date }}</p>
              <p class="documents__list-item-size">{{ doc.size_formatted }}</p>
            </div>
          </li>
        {% endfor %}
        </ul>
      </section>

    </main>

    <footer class="footer">
      <h2 class="footer__title">СНТ “ГЕОЛОГ”</h2>
      <nav class="footer__nav">
        <h4 class="footer__nav-title">Навигация</h4>
        <ul class="footer__nav-list">
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="/">Главная</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="/news">Новости</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="/documents">Документы</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="/gallery">Фотогалерея</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="/contacts">Контакты</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="/vacancies">Вакансии</a>
          </li>
        </ul>
      </nav>
    </footer>

    <div class="popup">
      <div class="popup__container">
        <button class="popup__close" type="button" aria-label="Закрыть попап"></button>
        <h2 class="popup__title">СНТ “ГЕОЛОГ”</h2>
        <form class="popup__form" name="form-auth">
          <h3 class="popup__form-title title">Авторизация</h3>
          <label class="popup__fieldset">
            Логин:
            <input class="popup__form-input popup__form-input--email" type="email" name="login" required>
          </label>
          <label class="popup__fieldset">
            Пароль:
            <input class="popup__form-input popup__form-input--password" type="password" name="password" required>
          </label>
          <div class="popup__links-row">
            <label class="popup__checkbox">
              <input type="checkbox">
              <span class="popup__checkmark"></span>
              Запомнить меня
            </label>
            <a class="popup__forget-link" href="#">Забыл пароль</a>
          </div>
          <button class="popup__submit" type="submit">Войти</button>
          <p class="popup__footer-text">
            Нажимая на кнопку Войти, Вы добровольно даете
            <a class="popup__footer-text-link" href="#">согласие</a>
            на обработку Ваших персональных данных.
          </p>
        </form>
      </div>
    </div>

  </div>
</body>
<script src="../static/index.js"></script>
<script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
<script>
  $(document).ready(function () {
  // Обработчик события нажатия кнопки фильтра
  $(".documents__filter-btn").on("click", function () {
    var category = $(this).data("category");
    // Отправка AJAX-запроса на обновление списка документов
    $.ajax({
      url: "{% url 'filter_documents' %}",
      data: { category: category },
      success: function (response) {
        $(".documents__list").html(response);
      },
    });
  });
});
</script>

</html>